:root {
  /* Color */
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --akcent: #2196f3;
  --text-color-white: #ffffff;
  --background-color: #e5e5e5;
  --background-footer-color: #2F303A;
  --buttons-color: #F5F4FA;
  --hero-button-backgroun: #188CE8;

  /* Font family */
  --general-font:'Roboto';
  --secondary-font: 'Raleway';
  /* Font size */
  --font-weight-general: 400;
  --font-weight-medium: 500;
  --font-weight-bold:700;
}

body {
  background-color: var(--text-color-white);
  color: var(--primary-text-color);
  font-family: var(--general-font), sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;


}
.list {
  list-style: none;
}

/*Logotipe*/

.logo {
  color: var(--primary-text-color);
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: var(--font-size-hight);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo .akcent {color: var(--akcent);}

.logotipe{color: var(--text-color-white);
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
text-decoration: none;}

  .logotipe .akcent{color: var(--akcent);}

  /*Site-navigation*/
.site-nav .link {
  color: var(--primary-text-color);
font-weight: var(--font-weight-medium);
font-style: normal;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
}
.site-nav :hover,
.site-nav :focus {
  color: var(--akcent);
}
.site-nav .link.current {
  color: var(--akcent);
}
/*Auth-navigation*/
.auth-nav .link {
  color: var(--secondary-text-color);
  font-weight: var(--font-weight-medium);
  font-style: normal;
  letter-spacing: 0.02em;
  line-height: 1.14;
  text-decoration: none;
}
.auth-nav :hover,
.auth-nav :focus {
  color: var(--akcent);
}

/*Hero section*/
.hero{ background-color: var(--background-footer-color);
  width: 1600px;
  height: 600px;}

  .hero-title {
  color: var(--text-color-white);
  font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

}
.hero .button {
  background-color: var(--hero-button-backgroun);
  color: var(--text-color-white);
font-family: inherit;
  font-weight: var(--font-weight-bold);
font-size: 16px;
line-height: 1.87;

letter-spacing: 0.06em;
width: 200px;
height: 50px;

}

 /*Future list(Hero)*/
 .future .heading{}
 .future .title{
  font-weight: var(--font-weight-bold);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
 .future .slogan{
   color: var(--secondary-text-color);
 ;
  font-size: 14px;
  line-height: 1.71;
 }


 /* Section team */
 
 .team-heading{
   font-size: 36px;
   font-weight: var(--font-weight-bold);
   line-height: 1.17;
   text-align: center;
 }
 .team .title{
  
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  line-height: 1.17;
  
}
 
 .team .text{
   color: var(--secondary-text-color);
   font-size: 16px;
   line-height: 1.18;
  }
  /* Activity section */
  .activity .title{
    font-weight: var(--font-weight-bold);
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }
 
 /*Footer*/
.footer{
  background-color: var(--background-footer-color);
}

  .footer .map{
  color: var(--text-color-white);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
 }
 .footer .link{
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

/*PORTFOLIO*/

/*Buttons*/

.button-list button{
background-color: var(--buttons-color);
  font-family: inherit;
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

 
}
.portfolio .button{list-style: none;
  }

.portfolio .button :hover, 
.portfolio .button :focus{  
  background-color: var(--akcent);
color: var(--text-color-white);}


  /* Poster section */
  .portfolio a{
    text-decoration: none;
    font-family: inherit;
  }
  .portfolio .title{
    color: var(--primary-text-color);
    font-weight: var(--font-weight-bold);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  
  }

  .portfolio .lead{
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
  }

 